allure-pytest==2.11.1
allure-python-commons==2.11.1
appdirs==1.4.4
Appium-Python-Client==2.7.1
atomicwrites==1.4.1
attrs==22.1.0
certifi==2022.9.24
colorama==0.4.6
ddt==1.6.0
distlib==0.3.6
expiringdict==1.2.2
filelock==3.8.0
html-testRunner==1.2.1
importlib-metadata==5.0.0
importlib-resources==5.10.0
iniconfig==1.1.1
Jinja2==3.1.2
launchdarkly-server-sdk==7.5.1
MarkupSafe==2.1.1
msedge-selenium-tools==3.141.4
mysql-connector-python==8.0.31
packaging==21.3
pluggy==1.0.0
protobuf==4.21.9
py==1.11.0
pyparsing==3.0.9
pyRFC3339==1.1
pytest==7.2.0
pytz==2022.5
selenium==4.5.0
semver==2.13.0
six==1.16.0
toml==0.10.2
typing-extensions==4.4.0
urllib3==1.26.12
virtualenv==20.16.6
xlrd==2.0.1
zipp==3.10.0
